.avatar {
  @apply inline-flex items-center justify-center rounded-full overflow-hidden;
  position: relative;
}

.avatar.squared {
  @apply rounded-none;
}

.avatar.ring {
  @apply border-4;
  border-color: transparent; /* Default color */
}

.avatar.ring-primary {
  @apply border-2 border-primary-500;
}

.avatar.ring-secondary {
  @apply border-2 border-secondary-500;
}

.avatar.ring-tertiary {
  @apply border-2 border-tertiary-500;
}

.avatar.ring-success {
  @apply border-2 border-success-500;
}

.avatar.ring-error {
  @apply border-2 border-error-500;
}

.avatar.ring-warning {
  @apply border-2 border-warning-500;
}

.avatar-group {
  @apply inline-flex -space-x-2;
}

.avatar.online::after {
  content: "";
  @apply absolute rounded-full w-3 h-3 bg-green-500 border-2 border-white;
  bottom: 0;
  right: 0;
  border-color: transparent;
}

.avatar.xs {
  @apply w-6 h-6;
}

.avatar.sm {
  @apply w-8 h-8;
}

.avatar.md {
  @apply w-12 h-12;
}

.avatar.lg {
  @apply w-16 h-16;
}

.avatar.xl {
  @apply w-24 h-24;
}

.avatar-img {
  @apply w-full h-full object-cover;
}