/* Base styles for the button */
.btn {
  @apply px-4 py-2 rounded-2xl font-semibold inline-flex items-center justify-center;
  min-width: 120px;
}

/* Plain button */
.btn.plain {
  @apply bg-plain-100 text-plain-800;
}
.btn.plain:hover {
  @apply bg-plain-800 text-white;
}

/* Primary button */
.btn.primary {
  @apply bg-primary-400 text-white;
}
.btn.primary:hover {
  @apply bg-primary-800;
}

/* Secondary button */
.btn.secondary {
  @apply bg-secondary-100 text-secondary-800;
}
.btn.secondary:hover {
  @apply bg-secondary-800 text-white;
}

/* Tertiary Button  */
.btn.tertiary {
  @apply bg-tertiary-100 text-tertiary-800;
}

.btn.tertiary:hover {
  @apply bg-tertiary-800 text-white;
}

/* Success button */
.btn.success {
  @apply bg-success-500 text-white;
}
.btn.success:hover {
  @apply bg-success-800;
}

/* Warning button */
.btn.warning {
  @apply bg-warning-500 text-white;
}
.btn.warning:hover {
  @apply bg-warning-800;
}

/* Error button */
.btn.error {
  @apply bg-error-500 text-white;
}
.btn.error:hover {
  @apply bg-error-800;
}

/* Outline button styles */
.btn.outlined {
  @apply border-2 text-current bg-transparent;
}

.btn.outlined.plain {
  @apply border-plain-500 text-plain-500;
}

.btn.outlined.plain:hover {
  @apply bg-plain-500 text-white;
}

.btn.outlined.primary {
  @apply border-primary-500 text-primary-500;
}

.btn.outlined.primary:hover {
  @apply bg-primary-500 text-white;
}

.btn.outlined.secondary {
  @apply border-secondary-500 text-secondary-500;
}

.btn.outlined.secondary:hover {
  @apply bg-secondary-500 text-white;
}

.btn.outlined.tertiary {
  @apply border-tertiary-500 text-tertiary-500;
}

.btn.outlined.tertiary:hover {
  @apply bg-tertiary-500 text-white;
}

.btn.outlined.success {
  @apply border-success-500 text-success-500;
}

.btn.outlined.success:hover {
  @apply bg-success-500 text-white;
}
.btn.outlined.warning {
  @apply border-warning-500 text-warning-500;
}

.btn.outlined.warning:hover {
  @apply bg-warning-500 text-white;
}
.btn.outlined.error {
  @apply border-error-500 text-error-500;
}

.btn.outlined.error:hover {
  @apply bg-error-500 text-white;
}

/* Flat button styles */
.btn.flat {
  @apply bg-transparent text-current;
}
.btn.flat.plain {
  @apply text-plain-500;
}
.btn.flat:hover {
  @apply bg-gray-200;
}
.btn.flat.primary {
  @apply text-primary-500;
}
.btn.flat.secondary {
  @apply text-secondary-500;
}

.btn.flat.tertiary {
  @apply text-tertiary-500;
}

.btn.flat.success {
  @apply text-success-500;
}
.btn.flat.warning {
  @apply text-warning-500;
}
.btn.flat.error {
  @apply text-error-500;
}

.btn.loading {
  @apply cursor-not-allowed;
}

.btn.loading .button-text {
  @apply opacity-50;
}

.btn.loading::before {
  content: "";
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid currentColor;
  border-top-color: transparent;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
