.input-container,
.date-time-container {
  @apply relative w-full;
  margin-bottom: 2rem;
}

.input-field,
.textarea-field,
.date-time-input {
  @apply w-full py-2 pl-8 pr-2 text-base border-b-2 border-plain-300 bg-transparent transition-all duration-300 focus:outline-none;
}

.textarea-field {
  @apply pl-2 resize-y;
  min-height: 100px;
}

.input-label,
.textarea-label,
.date-time-label {
  @apply absolute left-8 bottom-2 text-plain-500 transition-all duration-300 pointer-events-none;
}

.textarea-label {
  @apply left-2;
}

.input-field:focus ~ .input-label,
.input-field:not(:placeholder-shown) ~ .input-label,
.textarea-field:focus ~ .textarea-label,
.textarea-field:not(:placeholder-shown) ~ .textarea-label,
.date-time-input:focus ~ .date-time-label,
.date-time-input:not(:placeholder-shown) ~ .date-time-label {
  @apply text-sm left-0;
  bottom: -1.5rem;
}

.input-field:focus,
.textarea-field:focus,
.date-time-input:focus {
  @apply border-primary-500;
}

.input-field:focus ~ .input-label,
.textarea-field:focus ~ .textarea-label,
.date-time-input:focus ~ .date-time-label {
  @apply text-primary-500;
}

.input-icon,
.date-time-icon {
  @apply absolute left-0 bottom-2 text-plain-500;
  font-family: 'Material Symbols Rounded';
  font-size: 1.25rem;
}

.input-field:focus ~ .input-icon,
.date-time-input:focus ~ .date-time-icon {
  @apply text-primary-500;
}

/* Checkbox styles */
.checkbox-container {
  @apply relative flex items-center;
}

.checkbox-input {
  @apply sr-only;
}

.checkbox-label {
  @apply pl-8 cursor-pointer select-none;
}

.checkbox-custom {
  @apply absolute left-0 top-1/2 transform -translate-y-1/2 w-5 h-5 border-2 border-plain-300 rounded;
}

.checkbox-input:checked + .checkbox-custom {
  @apply bg-primary-500 border-primary-500;
}

.checkbox-input:checked + .checkbox-custom::after {
  content: '';
  @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-3 h-3 border-white border-2 border-t-0 border-l-0 rotate-45;
}

/* Date and Time input styles */
.date-time-container {
  @apply relative;
}

.date-time-input {
  @apply w-full py-2 pl-8 pr-2 text-base border-b-2 border-plain-300 bg-transparent transition-all duration-300 focus:outline-none;
}

.date-time-icon {
  @apply absolute left-0 bottom-2 text-plain-500;
  font-family: 'Material Symbols Rounded';
  font-size: 1.25rem;
}

.date-time-input:focus {
  @apply border-primary-500;
}

.date-time-input:focus + .date-time-icon {
  @apply text-primary-500;
}