.input-container,
.date-time-container {
  @apply relative w-full;
  margin-bottom: 2rem;
}

.input-field,
.textarea-field,
.date-time-input {
  @apply w-full py-2 pl-8 pr-2 text-base border-b-2 border-plain-300 bg-transparent transition-all duration-300 focus:outline-none;
}

.textarea-field {
  @apply pl-2 resize-y;
  min-height: 100px;
}

.input-label,
.textarea-label,
.date-time-label {
  @apply absolute left-8 bottom-2 text-plain-500 transition-all duration-300 pointer-events-none;
}

.textarea-label {
  @apply left-2;
}

.input-field:focus ~ .input-label,
.input-field:not(:placeholder-shown) ~ .input-label,
.textarea-field:focus ~ .textarea-label,
.textarea-field:not(:placeholder-shown) ~ .textarea-label,
.date-time-input:focus ~ .date-time-label,
.date-time-input:not(:placeholder-shown) ~ .date-time-label {
  @apply text-sm left-0;
  bottom: -1.5rem;
}

.input-field:focus,
.textarea-field:focus,
.date-time-input:focus {
  @apply border-primary-500;
}

.input-field:focus ~ .input-label,
.textarea-field:focus ~ .textarea-label,
.date-time-input:focus ~ .date-time-label {
  @apply text-primary-500;
}

.input-icon,
.date-time-icon {
  @apply absolute left-0 bottom-2 text-plain-500;
  font-family: 'Material Symbols Rounded';
  font-size: 1.25rem;
}

.input-field:focus ~ .input-icon,
.date-time-input:focus ~ .date-time-icon {
  @apply text-primary-500;
}

/* Checkbox styles */
.checkbox-container {
  @apply relative flex items-center cursor-pointer;
}

.checkbox-input {
  @apply absolute opacity-0 w-0 h-0;
}

.checkbox-custom {
  @apply relative inline-block w-5 h-5 mr-2 bg-white border-2 border-plain-300 rounded transition-all duration-200 ease-in-out;
}

.checkbox-input:checked + .checkbox-custom {
  @apply bg-primary-500 border-primary-500;
}

.checkbox-custom:after {
  content: '';
  @apply absolute hidden w-3 h-2 border-white border-b-2 border-r-2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-2/3 rotate-45;
}

.checkbox-input:checked + .checkbox-custom:after {
  @apply block;
}

.checkbox-label {
  @apply select-none;
}

.checkbox-input:focus + .checkbox-custom {
  @apply ring-2 ring-primary-500 ring-opacity-50;
}

/* Date and Time input styles */
.date-time-container {
  @apply relative;
}

.date-time-input {
  @apply w-full py-2 pl-8 pr-2 text-base border-b-2 border-plain-300 bg-transparent transition-all duration-300 focus:outline-none;
}

.date-time-icon {
  @apply absolute left-0 bottom-2 text-plain-500;
  font-family: 'Material Symbols Rounded';
  font-size: 1.25rem;
}

.date-time-input:focus {
  @apply border-primary-500;
}

.date-time-input:focus + .date-time-icon {
  @apply text-primary-500;
}